html{
    font-family: 'Pretendard',sans-serif;
    font-size: 20px;
}
.banner{
    height: 599px;
    background: url(../img/7247350364b9abd890d544b50b85e6093c349f17.png) no-repeat 50% 50% / cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 120px;
}
.banner h1{
    font-family: "Aboreto", sans-serif;
    color: white;
    font-size: 2.5rem;
    font-family: Aboreto;
    line-height: 100%;
    text-transform: uppercase;
}
.wrap{
    margin: 0 auto;
    width: 1600px;
}
.con1{
    font-family: Aboreto, sans-serif;
    font-size: 4rem;
    font-weight: 400;
    line-height: 90%;
    text-transform: uppercase;
}
.para{
    margin:4rem 0 3rem;
    padding: 1rem 0 1rem;
    border-top: 1px solid #000;
    font-family: 'Pretendard',sans-serif;
    font-size: 1rem;
    line-height: 140%;
    text-align: right;
    text-transform: uppercase;
}
.inner-figure img{
    width: 1000px;
    height: 430px;
    object-fit: cover;
    margin-bottom: 1rem;
}
figcaption{
    line-height: 140%;
}
span{
    font-weight: 800;
    line-height: 140%;
}